*{
	margin: 0;
	padding: 1rem;
}
main{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer{
	display: flex;
	align-items: center;
	justify-content: center;
}
.image{
	width: 50%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width:760px){
	main{
		flex-direction: column;
	}
}